{% extends "cesar/base.html" %}
{% load static %}
{% block content %}

  <div class="container fuente" style="margin-top: 50px;">
        <h1 style="text-align: center;">Contactanos</h1>
        <div class="row">
          <div class="col">
            <div class="container">
              <div class="card" style="width: 90%;">
                <img src="{% static 'img/karadima.jpg'%}" class="card-img-top" style="height: 350px;">
                <div class="card-body">
                  <h5 class="card-title">Axel Rubio A.K.A El Xokas</h5>
                  <p class="card-text">Edad: 21 años</p>
                  <p class="card-text">Estado Civil: Soltero</p>
                  <p class="card-text">Numero de telefono: +56912345678</p>
                  <p class="card-text">Correo: ax.rubio@duocuc.cl</p>
    
                </div>
              </div>
            </div>
          </div>
    
          <div class="col">
            <div class="container">
              <div class="card" style="width: 90%;">
                <img src="{% static 'img/matifernandez.jpg'%}" class="card-img-top" style="height: 350px;">
                <div class="card-body">
                  <h5 class="card-title">Rodrigo Huaiquil</h5>
                  <p class="card-text">Edad: 19 años</p>
                  <p class="card-text">Estado Civil: Soltero</p>
                  <p class="card-text">Numero de telefono: +56912345678</p>
                  <p class="card-text">Correo: ro.huaiquil@duocuc.cl</p>
                </div>
              </div>
            </div>
          </div>
      
          <div class="col">
            <div class="container">
              <div class="card" style="width: 90%;">
                <img src="{% static 'img/emoji.webp'%}" class="card-img-top" style="height: 350px;">
                <div class="card-body">
                  <h5 class="card-title">Maximo Ortega</h5>
                  <p class="card-text">Edad: 20 años</p>
                  <p class="card-text">Estado Civil: Soltero</p>
                  <p class="card-text">Numero de telefono: +56912345678</p>
                  <p class="card-text">Correo: max.ortega@duocuc.cl</p>
                </div>
              </div>
            </div>
          </div>
      
      
        </div>
  </div>
  {% endblock %}