{%extends "cesar/index.html"%}

{%block content%}
    <div class="container-centered fuente"> <!-- Container para centrar el contenido -->
      <div class="container" style="margin-top: 70px;">
        <!--Formulario-->
        <h1>Registro De Usuario</h1><br />
        <form id="formulario">
    
          <label>Nombre:</label>
          <div class="col-sm-20">
            <input type="text" id="itNombre" class="campo" placeholder="Diego" /> <br />
          </div>
          <div id="mensaje1"></div> <!-- Dentro de este div va el mensaje de error que está en JS-->
    
    
          <label>Contraseña:</label>
          <div class="col-sm-20">
            <input type="text" id="itContrasena" class="campo" placeholder="" /> <br />
          </div>
          <div id="mensaje2"></div>
    
          <br>
    
          <button>Enviar</button> <!--Button Java-->
          
        </form>
      </div>
    </div>

  


  <!-- Scripts -->
  {%load static%}
  <script src={%static 'js/validaciones.js' %}></script> <!--Link hacia validaciones.js-->
  
{% endblock %}