{% extends "cesar/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <br>
        <br>
        <br>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h2>Registro de Usuario</h2>
                        <hr>
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <a href="{% url 'login' %}">Iniciar Sesión</a>
                            <input type="submit" value="Registrar" class="btn btn-success float-right">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
